[submodule "postgresql"]
	path = postgresql
	url = git@github.com:adantop/postgresql.git
[submodule "mysql"]
	path = mysql
	url = git@github.com:adantop/mysql.git
[submodule "sonarqube"]
	path = sonarqube
	url = git@pgithub.com:adantop/sonarqube.git
