[submodule "postgresql"]
	path = postgresql
	url = git@github.com:adantop/postgresql.git
	branch = main
[submodule "mysql"]
	path = mysql
	url = git@github.com:adantop/mysql.git
	branch = main
[submodule "sonarqube"]
	path = sonarqube
	url = git@github.com:adantop/sonarqube.git
	branch = main
